@import url(https://fonts.google.com/specimen/Rubik);
* {
    font-family: 'Rubik', sans-serif;
    padding: 12px;
    margin: 0px;
    
}
h1 {
  color: var(--night-blue)
}

h3 {
  color: var(--night-blue)
}

:root {
  --soft-blue: hsl(231, 69%, 60%);
  --red: hsl(0, 94%, 66%);
  --dark-red: hsl(0, 78%, 49%);
  --ash-blue: hsl(229, 8%, 60%);
  --night-blue: hsl(229, 31%, 21%);
  --font-size: 18px;
  --font-family: "Rubik";
  --normal: 400;
  --bold: 500;
  --shadow: 0 10px 10x rgba(0,0,0,0.3);
}

h2 {
    color: black;
}

.logo {
    margin-bottom: 10px;
    width: 200px;
    height: 150px;
    background: transparent;
    border-radius: 0%;
    border: 3px solid white;
    transition: all .5s;
    float: left;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--ash-blue);
}

a {
  text-decoration: none;
  color: var(--night-blue);
  transition: all 0.3s ease-in-out;
}


.navigation {
  display: flex;
  justify-content: between;
  align-items: center;
}

.navigation .navbar {
  margin-left: auto;
}

.navbar .link {
  margin-left: 2.5rem;
}

.btn {
  display: inline-block;
  padding: .80rem 1.7rem;
  text-align: center;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s eas-in-out;
  background: rgb(102, 101, 101);
}

.navbar .btn:hover{
  color: white;
}

h1 {
    font-size: 40px;
}

.btn-red {
  border-color: var(--shadow);
  background-color: var(--red);
  box-shadow: 10px 10px grey;
}

.btn-blue {
  border-color: var(--shadow);
  background-color: var(--soft-blue);
  box-shadow: 10px 10px grey;
}

.login {
  box-shadow: var(--shadow); 
}


/* Portfolio styling */
h2 {
    font-family: 'Rubik', sans-serif;
}

.buttons {
  float: left;
}

.img1 {
  bottom: -9%;
  left: 50%;
  position: absolute;
  text-align: right;
}

#second-text {
  margin-top: 5%;
  text-align: center;
}

.more-about {
  position: absolute;
  left: 50%;
  margin-top: -23%;
}


.img2{
  margin-top: 10%;
}

.main-text-container {
  display: flex;
  padding: 0;
  margin: 20%;
  margin-top: 5%;
  margin-bottom: -1%;
  width: 80%;
  justify-content: between;
  align-items: center;
}

 hr {
   padding: 0;
   margin: 10px 30px;
   width: 100%;
 }

 .small-nav {
   left: 36%;
   position: absolute;
 }

.footer {
  position: absolute;
  left: 0;
  bottom: -150%;;
  width: 100%;
  background-color: var(--night-blue);
  color: white;
  text-align: center;
}

.footernav a{
  float: left;
  color: white;
}

.logoo {
  text-transform: uppercase;
  left: -40%;
  position: relative;
}

#footer {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: var(--night-blue);
  color: white;
  text-align: center;
}